/* CSS declarations go here */
.well-like{
  border: 1px solid #ddd;
  padding: 10px 10px;
  background: #eaeaea;
  margin: 10px 0px;
  border-radius: 3px;
}
.topic-holder{
  background: #fafafa;
  border:1px solid #eee;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0px;
  cursor: pointer;
}
.head-topic{
  margin:5px 0px;
  font-weight:600;
  color: #666;
}
.topic-control{
  padding-left:3px;
  height: 100px ;
  resize: none;
}
.topic-form{
  margin-bottom: 5px;
}
.topic-form button{
  margin: 10px 0px;
}
.topic_username{
  font-weight: 700;
}
.addons{
  padding: 5px 7px;

  color: rgba(0,0,0,0.7);
  border-radius: 3px;
  margin-left: 5px;
}
.addons:hover{
  background: #eaeaea;
}
.addons-time{
  padding: 5px 7px;

  color: rgba(0,0,0,0.4);
  font-weight: 600;
  border-radius: 3px;
float:right;
  font-size: 11px;
}
.addons-time:hover{
  background: #eaeaea;
}

.registerForm{
  width:350px;
  margin: 0px auto;
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: 40px 40px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.registerForm .form > input {
  margin: 10px 0px;
}

.loginForm{
  width:350px;
  margin: 0px auto;
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: 40px 40px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.loginForm .form > input {
  margin: 10px 0px;
}
.loginHead{
  text-align: center;
  margin-bottom: 15px;
  color:#555;
  font-weight: 400;
}
.comment-listholder{
  background: #f7f7f7;
  border:1px solid #eee;
  padding: 10px;
}
.commentBlock{
  padding: 10px 0px;
  border-bottom:1px solid #eee;
  margin: 5px 0px;
}
.comment-form{
  margin: 15px 0px;
}
.addon-comment{
  font-size: 9px;
  color:#666;
  font-weight: 600;

}
